body,
html {
    width: 100%;
	height: 100%;
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: contain;
	scroll-behavior: smooth;
    top:0;
    bottom:0;
    left:0;
	right:0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body, p {
	color: #f8f1f1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}
.p-large {
	color: #f8f1f1;
	font: 400 1.25rem/1.75rem "Open Sans", sans-serif;
}
.p-small {
	color: #f8f1f1;
	font: 700 10px "Open Sans", sans-serif;
}
.p-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}
.li-space-lg li {
	margin-bottom: 0.375rem;
}
.indent {
	padding-left: 1.25rem;
}
h1 {
	color: #f8f1f1;
	font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
}
h2 {
	color: #f8f1f1;
	font: 700 2.25rem/2.75rem "Montserrat", sans-serif;
}
h3 {
	color: #f8f1f1;
	font: 700 1.75rem/2.125rem "Montserrat", sans-serif;
}
h4 {
	color: #f8f1f1;
	font: 700 1.375rem/1.75rem "Montserrat", sans-serif;
}
h5 {
	color: #f8f1f1;
	font: 700 1.125rem/1.625rem "Montserrat", sans-serif;
}
h6 {
	color: #f8f1f1;
	font: 700 1rem/1.5rem "Montserrat", sans-serif;
}
a {
	color: #f8f1f1;
	text-decoration: underline;
}
a:hover {
	color: #f8f1f1;
	text-decoration: underline;
}
a.turquoise {
	color: #F08D7E;
}
a.white {
	color: #fff;
}
.topbar {
	background-color: #c94c4c;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.75rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s;
}
.topbar .navbar-brand .logo-png {
    width: 40px;
	height:40px;
	margin-bottom: 1px;
	-webkit-backface-visibility: hidden;
}
.topbar {
	letter-spacing: -0.5px;
    text-decoration: none;
    width: 100%;
	height: 1px;
	margin: 0.25rem auto 0.25rem auto;
    opacity: 0.2;
    display: none;
    font-size: 2rem;
    font: 700 0.75rem/1.5rem "Montserrat", sans-serif;
    color: #fff;
    text-decoration: none;
    margin-top: 0;
	border: none;
	border-radius: 0.25rem;
    background-color: #c94c4c;
    outline: 0;

}
.topbar .navbar-nav {
	margin-top: 0.75rem;
}
.topbar .nav-item .nav-link {
	padding: 0 0.75rem 0 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}
.topbar .nav-item .nav-link:hover,
.topbar .nav-item .nav-link.active {
	color: #F08D7E;
}

.topbar {
	display: block; 
	min-width: auto;
	animation: fadeDropdown 0.7s;
}
@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.topbar [aria-expanded='false'] {
	display: none;
}
.topbar [aria-expanded='false'] {
	display: inline-block;
}
.topbar [aria-expanded='true'] {
	display: none;
}
.topbar [aria-expanded='true'] {
	display: inline-block;
	margin-right: 0.125rem;
}
.toplog {
	background-image: url("../css/legionos.png");
	height: 87%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 80%;
	text-align: right;
}
.toplog .toplog-content {
	text-align: right;
}
.toplog .text-container {
	margin-bottom: 3rem;
}
.toplog h1 {
	margin-bottom: 1rem;
}
.toplog #js-rotating {
	color: #ee4949;
}
.toplog .p-large {
	margin-bottom: 2rem;
}
.toplog .btnsl {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}
.team-member {
	font: 700 0.7rem/1rem "Montserrat", sans-serif;
}
.glitch {
	font-size: auto;
	font-weight: 700;
	color: #facfcf;
	text-transform: uppercase;
	position: relative;
	text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
	  -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
	  0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	animation: glitch 500ms infinite;
  }
  
  @keyframes glitch {
	0% {
	  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
		-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	14% {
	  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
		-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	15% {
	  text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
		0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
		-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	49% {
	  text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
		0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
		-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	50% {
	  text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
		0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	99% {
	  text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
		0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	100% {
	  text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
		-0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
  }
  
  @media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
	  animation-delay: -1ms !important;
	  animation-duration: 1ms !important;
	  animation-iteration-count: 1 !important;
	  background-attachment: initial !important;
	  scroll-behavior: auto !important;
	  transition-duration: 0s !important;
	  transition-delay: 0s !important;
	}
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
.btnsl {
	display: inline-block;
	padding: 1.5rem 2.25rem 1.5rem 2.25rem;
	border: 0.130rem solid #c94c4c;
	border: 0.130rem solid #c94c4c;
	border-top: 1px solid #c94c4c;
	border-collapse: separate;
	border-bottom: 1px solid #c94c4c;
	border-right: 1px solid #c94c4c;
	border-left: 1px solid #c94c4c;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: #000000;
	color: #fff;
	font: 470 20px "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.6s;
}
.btnsl:hover {
	background-color: transparent;
	color: #c94c4c;
	text-decoration: none;
}
.btnsl {
	margin-right: 0.5rem;
	line-height: 0;
	vertical-align: top;
}
.btnsl2 {
	display: inline-block;
	padding: 15px;
	width: 140px;
	border: 0.130rem solid #c94c4c;
	border-top: 1px solid #c94c4c;
	border-collapse: separate;
	border-bottom: 1px solid #c94c4c;
	border-right: 1px solid #c94c4c;
	border-left: 1px solid #c94c4c;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
	margin: 2px;
	background-color: #000000;
	color: #fff;
	font: 400 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.9s;
}
.btnsl2:hover {
	background-color: transparent;
	color: #dd3b3b;
	text-decoration: none;
}
.btnsl2 {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}
.btnsl2 {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}
.btnsl2 {
	font-size: 1rem;
}
.btnsl2d {
	display: inline-block;
	padding: 15px;
	width: 100px;
	border: 0.130rem solid #c94c4c;
	border-top: 1px solid #c94c4c;
	border-collapse: separate;
	border-bottom: 1px solid #c94c4c;
	border-right: 1px solid #c94c4c;
	border-left: 1px solid #c94c4c;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
	margin: 2px;
	background-color: #000000;
	color: #fff;
	font: 400 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.9s;
}
.btnsl2d:hover {
	background-color: transparent;
	color: #dd3b3b;
	text-decoration: none;
}
.btnsl2d {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}
.btnsl2d {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}
.btnsl2d {
	font-size: 1rem;
}
.btnsl3 {
	display: inline-block;
	padding: 1rem 0.75rem 1rem 0.75rem;
	border: 0.130rem solid #c94c4c;
	border: 0.130rem solid #c94c4c;
	border-top: 1px solid #c94c4c;
	border-collapse: separate;
	border-bottom: 1px solid #c94c4c;
	border-right: 1px solid #c94c4c;
	border-left: 1px solid #c94c4c;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
	margin: 3.5px;
	background-color: #000000;
	color: #fff;
	font: 400 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.9s;
}
.btnsl3:hover {
	background-color: transparent;
	color: #dd3b3b;
	text-decoration: none;
}
.btnsl3 {
	margin-right: 0.3rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}
.btnsl3 {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}
.btnsl3 {
	font-size: 1rem;
}
.img-seq {
	padding-top: 6.875rem;
	padding-bottom: 6.375rem;
	background-color: #000000;
}
.img-seq .img-container {
	position: relative;
}
.img-seq .img-container {
	position: static;
	width: 90%;
	text-align: center;
}
.img-seq .sqrd {
	position: relative;
	border: none;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	background-color: transparent;
}
.img-seq .sqrd-image {
	width: 5rem;
	height: 5rem;
	margin-right: auto;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	margin-left: auto;
	border-radius: 100%;
}
.img-seq .sqrd-body {
	padding-bottom: 0;
}
.img-seq .team-member {
	margin-bottom: 0;
}
.roundswipe {
	border-radius: 10px;
	width: auto;
	height: auto;
	border-top: 2.3px solid #c94c4c;
	border-left: 1.5px solid #c94c4c;
	border-bottom: 2.3px solid #c94c4c;
	border-right: 1.5px solid #c94c4c;
	align-items: center;
	align-content: center;
}
.nav-link {
	margin-bottom: 1rem;
	padding: 0.5rem 1.375rem 0.25rem 1.375rem;
	border: none;
	border-bottom: 0.1875rem solid #f8f1f1;
	border-radius: 0;
	color: #f8f1f1;
	font: 700 1rem/1.75rem "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}
.nav-link.active,
.nav-link:hover {
	border-bottom: 0.1875rem solid #F08D7E;
	background-color: transparent;
	color: #F08D7E;
}
.nav-link {
	margin-right: 0.375rem;
	font-size: 1rem;
}
.chrty {
	padding-top: 6.375rem;
	padding-bottom: 4.875rem;
}
.chrty h2 {
	margin-bottom: 1.125rem;
	text-align: center;
}
.chrty .p-heading {
	margin-bottom: 4rem;
	text-align: center;
}
.chrty .image-container img {
	border-radius: 0.375rem;
}
.ssass {
	padding-top: 3.5rem;
	padding-bottom: 7.25rem;
	background-color: #000000;
}

.ssass .text-container {
	margin-bottom: 3.5rem;
}

.ssass h3 {
	margin-bottom: 1.125rem;
}

.ssass .btn-solid-reg {
	margin-top: 0.5rem;
}
.form {
	padding-top: 1.25rem;
}

.form h2 {
	text-align: center;
}

.form .list-unstyled {
	font-size: 1rem;
	text-align: center;
}

.form .list-unstyled,
.form .list-unstyled {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	color: #F08D7E;
}

.form .list-unstyled {
	vertical-align: 3%;
}
.footer {
	padding-top: 3rem;
	background-color: #000000;
}

.footer .footer-col {
	margin-bottom: 2.5rem;
}

.footer h4 {
	margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
	color: #F08D7E;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #000000;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #f8f1f1;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #f8f1f1;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #F08D7E;
}
.copyright {
	padding-top: 5rem;
	background-color: #000000;
	text-align: center;
}

.copyright .p-small {
	color: #f8f1f1;
	opacity: 0.6;
}
@media (min-width: 768px) {

	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	h1 {
		font: 700 3.25rem/3.75rem "Montserrat", sans-serif;
	}
	.topbar {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}

	.topbar .navbar-brand.logo-text {
		color: #fff;
	}

	.topbar .navbar-nav {
		margin-top: 0;
	}

	.topbar .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #fff;
	}

	.topbar .nav-item .nav-link:hover,
	.topbar .nav-item .nav-link.active {
		color: #c94c4c;
	}

	.topbar.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #000000;
	}

	.topbar.top-nav-collapse .navbar-brand.logo-text {
		color: #fff;
	}

	.topbar.top-nav-collapse .nav-item .nav-link {
		color: #fff;
	}

	.topbar.top-nav-collapse .nav-item .nav-link:hover,
	.topbar.top-nav-collapse .nav-item .nav-link.active {
		color: #c94c4c;
	}

	.topbar .dropdown-menu {
		box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
	}

	.topbar .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.topbar .dropdown-items-divide-hr {
		width: 84%;
	}
	.toplog .toplog-content {
		padding-top: 11rem;
	}
	.slider-1 .swiper-button-prev {
		left: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}

	.slider-1 .swiper-button-next {
		right: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	.slider-2 .swiper-button-prev {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}

	.slider-2 .swiper-button-next {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	.form .list-unstyled li {
		display: inline-block;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.form .list-unstyled .address {
		display: block;
	}

}
@media (min-width: 992px) {

	.topbar .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.topbar .fa-stack {
		margin-bottom: 0.1875rem;
		margin-left: 0.375rem;
		font-size: 0.75rem;
	}

	.topbar .fa-stack-2x {
		color: #F08D7E;
		transition: all 0.2s ease;
	}

	.topbar .fa-stack-1x {
		color: #fff;
		transition: all 0.2s ease;
	}

	.topbar .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}

	.topbar .fa-stack:hover .fa-stack-1x {
		color: #F08D7E;
	}
	.p-heading {
		width: 65%;
	}
	.toplog .toplog-content {
		padding-top: 10rem;
		padding-bottom: 7rem;
		text-align: right;
	}

	.toplog .text-container {
		margin-top: 6.5rem;
	}
	.chrty .image-container {
		max-width: 53.125rem;
		margin-right: auto;
		margin-left: auto;
	}
	.ssass .text-container {
		margin-top: 2.5rem;
		margin-bottom: 0;
	}


@media (min-width: 1200px) {

	.topbar {
		padding: 2.125rem 5rem 2.125rem 5rem;
	}

	.topbar.top-nav-collapse {
        padding: 0.5rem 5rem 0.5rem 5rem;
	}
	.p-heading {
		width: 44%;
	}
	.toplog .text-container {
		margin-top: 7.5rem;
		margin-left: 2.5rem;
	}

	.toplog .image-container {
		margin-left: 3rem;
	}
	.ssass .text-container {
		margin-top: 4.5rem;
		margin-right: 3.5rem;
		margin-left: 2rem;
	}
	.footer .footer-col {
		width: 90%;
	}

	.footer .footer-col.middle {
		margin-right: auto;
		margin-left: auto;
	}

	.footer .footer-col.last {
		margin-right: 0;
		margin-left: auto;
}
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #131313;
}
.spinner {
	position: absolute;
	top: 50%; 
	left: 50%; 
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem;
	text-align: center;
}
.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #F08D7E;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce3 {
	-webkit-animation-delay: -0.64s;
	animation-delay: -0.64s;
}
.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}
@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% {
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}
.ass { color: #f69f9f; text-decoration: none; align-content: center;}

.arrow {
  text-align: center;
  margin: 2% 0;
  color: #f69f9f;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
  @keyframes glow {
	from {
	  text-shadow: 0 0 5px rgb(250, 128, 128), 0 0 10px rgb(250, 128, 128), 0 0 15px #c94c4c, 0 0 20px #c94c4c, 0 0 25px #c94c4c, 0 0 30px #c94c4c, 0 0 35px #c94c4c;
	}
	to {
	  text-shadow: 0 0 10px rgb(250, 128, 128), 0 0 20px rgb(250, 128, 128), 0 0 30px #c94c4c, 0 0 40px #c94c4c, 0 0 50px #c94c4c, 0 0 60px #c94c4c, 0 0 70px #c94c4c;
	}
}
.bounce1 {
	animation: glow 0.8s ease-in-out infinite alternate;
  }
	@keyframes glow {
	  from {
		text-shadow: 0 0 1px rgb(250, 128, 128), 0 0 3px rgb(250, 128, 128), 0 0 7px #c94c4c, 0 0 12px #c94c4c, 0 0 15px #c94c4c, 0 0 17px #c94c4c, 0 0 20px #c94c4c;
	  }
	  to {
		text-shadow: 0 0 3px rgb(250, 128, 128), 0 0 7px rgb(250, 128, 128), 0 0 13px #c94c4c, 0 0 16px #c94c4c, 0 0 18px #c94c4c, 0 0 22px #c94c4c, 0 0 26px #c94c4c;
	  }
}
.navbar {
	background-color: #000000;
}
.navbar > div > ul {
	background-color: #000000;
	color: #f69f9f;
	text-decoration: none;
	margin-bottom: 0%;
}
.navbar > div > ul > li {
	background-color: #000000;
	color: #f69f9f;
	text-decoration: none;
	margin-bottom: 0%;
}
.navbar > div > ul > li > a {
	background-color: #000000;
	color: #f69f9f;
	text-decoration: none;
	margin-bottom: 0%;
}
.navbar-expand-lg .navbar-dark .justify-content-center .text-center .nav-link .nav-item {
	background-color: #000000;
	color: #f69f9f;
	text-decoration: none;
	margin-bottom: 0%;
}